In [1]:
#install connector api using the command below.
!pip install mysql-connector-python

# Import the MySQL Connector/Python
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
                             user="root", # use your own
                             password="123456Cn", # use your own
                             database = "little_lemon"
                            )
print("Connection between MySQL and Python is established.\n")

# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.\n")
    
# Set little_lemon database for use 
cursor.execute("USE little_lemon")
print("The database little_lemon is set for use.\n")

Requirement already satisfied: mysql-connector-python in c:\users\faith\appdata\local\programs\python\python313\lib\site-packages (9.1.0)
Connection between MySQL and Python is established.

Cursor is created to communicate with the MySQL using Python.

The database little_lemon is set for use.

In [2]:
show_table_query= "SHOW TABLES"
cursor.execute(show_table_query)
# Fetch records 
results = cursor.fetchall()

# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)

# Print query results
for result in results:
    print(result)

('Tables_in_little_lemon',)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('orders',)

In [9]:
all_orders = """SELECT * FROM Orders;"""

# Execute query 
cursor.execute(all_orders)
results= cursor.fetchall()
# Retrieve column names
columns = cursor.column_names

# Print column names
print(columns)
for result in results:
    print(result)

('OrderID', 'TableNo', 'MenuID', 'BookingID', 'BillAmount', 'Quantity')

In [20]:
drop_table_query = "DROP TABLE IF EXISTS Orders;"
cursor.execute(drop_table_query)
connection.commit()

In [26]:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
CustomerID INT,
TotalCost INT,
Quantity INT,
PRIMARY KEY (OrderID)
);"""

# Create Customers table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

Orders table is created.

In [27]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, CustomerID, Quantity, TotalCost)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43); """

cursor.execute(insert_orders)
connection.commit()

In [28]:
all_orders = """SELECT * FROM Orders;"""
cursor.execute(all_orders)
# Fetch all rows
results = cursor.fetchall()
# Retrieve column names
columns = cursor.column_names
# Print column names
print("Column Names:", columns)
# Print each row in the Orders table
print("Orders Table Rows:")
for result in results:
    print(result)

Column Names: ('OrderID', 'TableNo', 'MenuID', 'CustomerID', 'TotalCost', 'Quantity')
Orders Table Rows:
(1, 12, 1, 1, 86, 2)
(2, 19, 2, 2, 37, 1)
(3, 15, 2, 3, 37, 1)
(4, 5, 3, 4, 40, 1)
(5, 8, 1, 5, 43, 1)

In [29]:
drop_table_query = "DROP TABLE IF EXISTS customers;"
cursor.execute(drop_table_query)
connection.commit()

In [30]:
create_customers_table="""
CREATE TABLE Customers (
CustomerID INT,
FullName varchar(255),
ContactNumber varchar(50),
PRIMARY KEY (CustomerID)
);"""

# Create Customers table
cursor.execute(create_customers_table)
print("Customers table is created.\n")

Customers table is created.

In [31]:
insert_customers="""
INSERT INTO customers (CustomerID, FullName, ContactNumber)
VALUES
(1, 'Laney Fadden', 124567890),                         
(2, 'Giacopo Bramich', 234568901),
(3, 'Lia Bonar', 345689012),
(4, 'Merrill Baudon', 456789123),
(5, 'Tasia Fautly', 567801234);"""

cursor.execute(insert_customers)
connection.commit()

In [32]:
query= """ 
SELECT * FROM Customers;"""
cursor.execute(query)
# Fetch results
results = cursor.fetchall()

# Display results
for row in results:
    print(row)

(1, 'Laney Fadden', '124567890')
(2, 'Giacopo Bramich', '234568901')
(3, 'Lia Bonar', '345689012')
(4, 'Merrill Baudon', '456789123')
(5, 'Tasia Fautly', '567801234')

In [33]:
query = """
SELECT 
    C.FullName, 
    C.ContactNumber, 
    O.TotalCost
FROM 
    Customers AS C
JOIN 
    Orders AS O
ON 
    C.CustomerID = O.CustomerID
WHERE 
    O.TotalCost > 60;
"""

# Execute query
cursor.execute(query)

# Fetch results
results = cursor.fetchall()

# Display results
for row in results:
    print(row)

('Laney Fadden', '124567890', 86)

In [34]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.